/* Global colour variables */
 :root {
    --bg: #FAFAFA;
    --text: #212121;
    --link: #0D47A1;
    --accent: #e6e6e6;
    --before-blue: #64B5F6;
    --after-blue: #BBDEFB;
    --before-orange: #FBC02D;
    --after-orange: #FFF176;
    --before-green: #4CAF50;
    --after-green:  #C8E6C9;

 }

 /* Define colours for auto dark mode */
@media (prefers-color-scheme: dark) {
    :root {
      --bg: #212121;
      --text: #EEE;
      --link: #64B5F6;
      --accent: #333;
    }

    ul li {
      opacity: .8;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: apple-system,BlinkMacSystemFont,avenir next,avenir,"Nimbus Sans L",roboto,noto,segoe ui,arial,helvetica,helvetica neue,sans-serif;
    font-size: 1.2rem;
    margin: 0 0 4rem 0;
    padding: 0 .5rem;
    background: var(--bg);
    color: var(--text);
}

p.medium {
  font-weight: bold;
  font-size: 1.4rem;
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.2;
}

h2 {
    margin: 4rem 0 -1.5rem 0;
}

header,main,footer {
    margin: 0 auto;
    max-width: 50rem;
    width: 100%;
}

a, a:visited {
    color: var(--link)
}

a:hover,a:focus {
  text-decoration: none;
}

a.site, a.site:visited {
    color: currentColor;
    text-decoration: none;
}

a.site:hover,a.site:focus {
  text-decoration: underline;
}

ul {
    list-style: none;
    margin: 3rem 0 0 0;
    padding: 0;
}

/* BLUE COLOURS */
ul.blue li {
    background: var(--after-blue);
    color: #212121;
    line-height: 1;
    margin: 0 0 0.5rem 0;
    padding: 15px 10px 12px;
    position: relative;
    border-radius: 4px;
}

ul.blue li span.before-blue {
    background: var(--before-blue);
    height: 100%;
    width: calc(var(--data-size)/512 * 100%);
    border-radius: 4px;
    z-index: 0;
}

/* ORANGE COLOURS */
ul.orange li {
    background: var(--after-orange);
    color: #212121;
    line-height: 1;
    margin: 0 0 0.5rem 0;
    padding: 15px 10px 12px;
    position: relative;
    border-radius: 4px;
}

ul.orange li span.before-orange {
    background: var(--before-orange);
    height: 100%;
    width: calc(var(--data-size)/512 * 100%);
    border-radius: 4px;
    z-index: 0;
}

/* GREEN COLOURS */
ul.green li {
    background: var(--after-green);
    color: #212121;
    line-height: 1;
    margin: 0 0 0.5rem 0;
    padding: 15px 10px 12px;
    position: relative;
    border-radius: 4px;
}

ul.green li span.before-green {
    background: var(--before-green);
    height: 100%;
    width: calc(var(--data-size)/512 * 100%);
    border-radius: 4px;
    z-index: 0;
}

ul li span.before-blue,
ul li span.before-orange,
ul li span.before-green,
ul li span.after {
    left: 0;
    position: absolute;
    top: 0;
}

ul li span.after {
    left: auto;
    opacity: 0.8;
    right: 10px;
    top: auto;
}

ul li a {
    font-weight: bold;
    position: relative;
    z-index: 2;
}

footer {
    border-top: 1px solid var(--text);
    margin: 3rem auto 0;
    padding: 0.5rem 0 0;
    text-align: center;
    font-size: .9rem;
}

@media(max-width:500px) {
    body {
        margin: 0 0 4rem 0;
        padding: 0 10px;
    }
}

/* Format the accordion */
input {
  display: none;
}

label {
  display: block;
  padding: 8px 22px;
  margin: 2rem 0;
  cursor: pointer;
  background: var(--accent);
  border: 1px solid var(--accent);
  color: var(--text);
  border-radius: 4px;
  transition: ease .5s;
}

label:hover {
  border: 1px solid var(--text);
}

label h2 {
  margin: 0;
}

.accordion-content {
  background: var(--accent);
  padding: 10px 25px;
  margin: -1.9rem 0 2rem 0;
  border-radius: 4px;
}

input + label + .accordion-content {
  display: none;
}

input:checked + label + .accordion-content {
  display: block;
}
