<details class="red-notice" id="lightweight-notice">
    <summary>What We Won't Accept Into The 512KB Club</summary>
    <h2> Ultra lightweight sites</h2>

    <p>There are a growing number of "sites" being submitted to The 512KB Club that are ultra lightweight (usually
        &lt;1KB). These sites often contain absolutely no information apart from a couple of links to other pages that
        <i>do</i> contain information.</p>

    <p><b>These sites are not in keeping with the aim of The 512KB Club and will not be added.</b> If your site contains nothing more than a title and a couple of links, it <b>won't</b> be added. Think of it like this - if someone can visit your homepage and understand what the site is about, or who you are, then it's far more likely to be added. Here's an example of an unacceptable website:</p>

    <img alt="Ultra light website example" src="/assets/images/light-website.png" />

    <p>The aim of The 512KB Club is to showcase lightweight websites. Anyone can create a website that is under 1KB, but composed only of a single h1 tag and a couple of links. That's boring - try and be more interesting.</p>

    <h2>Illegal or inappropriate conent</h2>

    <p>This can be anything we deem inappropriate for the 512KB Club. Things like pornographic sites, or sites that contain NSFW material will not be added. Basically, if you wouldn't show it to your grandma or your kids, you're probably not going to get accepted.</p>

    <p><b>We reserve the right to refuse any site we deem to be inappropriate, even if it doesn't obviously align to any of the rules stated above.</b></p>

</details>
