<details>
    <summary>I see a problem / how do I get in touch?</summary>
    <p>See a problem on this site? Maybe there's a site listed that's not longer live, or no longer qualifies for the
        club. Or, maybe you just want to get in touch for some reason.</p>

    <p>If so, <a target="blank" href="https://github.com/kevquirk/512kb.club/issues">create an issue on GitHub</a> or
        use <a target="blank" href="https://kevq.uk/contact">the contact page on my main website</a>.</p>
</details>
