<details>
    <summary>How do I join The 512KB Club?</summary>
    <p>If you're interested in getting your site added to <b>The 512KB Club</b>, all you need to do is follow these
        instructions:</p>

    <ol>
        <li>Do a <a target="blank" href="https://gtmetrix.com">GTMetrix scan</a> on your website.</li>
        <li>Once complete, click on the <b>Waterfall</b> tab to make sure the <b>uncompressed</b> size of your site is
            less than 512KB.</li>
        <li>If your site satisfies this requirement, create a pull request (<a target="blank"
                href="https://github.com/kevquirk/512kb.club/blob/master/README.md#how-to-create-a-pr-to-add-your-site-to-the-512kb-club">instructions
                here</a>) to add your site.</li>
        <li>I will then review you PR and merge it into main. Once merged, your site will be added to the list.</li>
    </ol>

    <p class="small"><b>Note:</b> <i>I reserve the right to not add sites based on whether I think they're suitable to
            be added or not.</i></p>
</details>
