<details>
    <summary>What's the point of all this?</summary>
    <p><b>That's a great question!</b></p>

    <p>I decided to start this project for a couple of reasons:</p>

    <ol>
        <li>Most, if not all, of the sites listed are personal sites. Many of which are blogs. The 512KB Club is a
            great way of discovering other blog owners who are also interested in minimalist/efficient web design. Think
            of it like a modern day <a target="blank" href="https://en.wikipedia.org/wiki/Webring">webring</a>.</li>
        <li>It's a bit of fun, so why not?</li>
    </ol>
</details>
