<details>
    <summary>I've optimised some more, what now?</summary>
    <p><b>The 512KB Club</b> appears to have sparked some interest in a lot of website owners and the whole thing has
        become somewhat of a race to the top.</p>

    <p>If you have optimised your website further and want to change your number, please log a <b>new</b> <a
            target="blank" href="https://github.com/kevquirk/512kb.club/issues">GitHub issue</a> ensuring the title
        clearly states this is an update.</p>
</details>
