<details class="red-notice" id="lightweight-notice">
    <summary>Ultra minimal / link pages won't be added</summary>

    <p>The whole point of the 512KB Club is to showcase what <i>can</i> be done with 512KB of space. Anyone can come along and make a <10KB site containing 3 lines of CSS and a handful of links to other pages.</p>

    <p><b>That's NOT a good showcase of what can be done with 512KB.</b></p>

    <p>What we're looking for are sites with interesting design concepts that prove 512KB is a load of space that you can do so much with.</p>

    <p>If we decide that your site qualifies as "ultra-minimal" or is simply just a page containing a paragraph of text and some links, <b>it probably won't be added.</b></p>

    <p>We reserve the right to add sites that may qualify as "ultra-minimal" or "link pages" if they offer a particularly interesting design, or display the information in a unique way.</p>

    <p>We're aware there are a number of these sites that have already been added to the 512KB Club, and we're slowly working our way through and removing them. If you notice a site in the list that you think qualifies, please do <a href="https://github.com/kevquirk/512kb.club/issues">submit an issue on GitHub</a> to let us know.</p>

</details>
