<details>
    <summary>My site doesn't qualify, what can I do?</summary>
    <p>Many sites won't qualify for the 512KB Club, but there are some quick things you could try to reduce the size of
        your site:</p>

    <p><b>1. Replace custom fonts with a local font stack by replacing your <code>font-family</code> declerations in
            your CSS to one of the following:</b></p>
    <pre><code># Sans-serif font stack
font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;

# Serif font stack
font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;</code></pre>

    <p><b>2. Optimise any images you have on your page.</b> <a target="blank" href="https://shortpixel.com">Short
            Pixel</a> is a great service for this.</p>

    <p><b>3. If all else fails</b> and your site is pretty close the 512KB, but not quite there, why not apply for
        Bradley Taunt's <a target="blank" href="https://1mb.club">1MB Club</a> instead?</p>
</details>
