<details>
    <summary id="lightweight-notice">Notice about ultra lightweight sites</summary>
    <p>There are a growing number of "sites" being submitted to The 512KB Club that are ultra lightweight (usually
        &lt;1KB). These sites often contain absolutely no information apart from a couple of links to other pages that
        <i>
            do</i> contain information.</p>

    <p><b>These sites are not in keeping with the aim of The 512KB Club and will not be added.</b> To be added to this
        site the page you submit must contain a reasonable amount of information.</p>

    <p class="medium">But what qualifies as a "reasonable amount of information"?</p>

    <p>Great question! Ultimately it's for me to decide and I will use my own discretion, but as a guide, if your site
        contains nothing more than a title and a couple of links, it <b>won't</b> be added. If you page contains some
        CSS formatting, a couple of paragraphs of text, and links to other pages, it will probably be added.</p>

    <p>The aim of The 512KB Club is to showcase lightweight websites. Anyone can create a website that is under 1KB, but
        composed only of a single <code>h1</code> tag and a couple of links. That's boring - try and be more
        interesting.</p>
</details>
