<details>
    <summary>Can I add something to my site to show I'm in the 512KB club?</summary>
    <p>If your site qualifies for <b>The 512KB Club</b>, I will add it to one of the following 3 teams:</p>

    <ol>
        <li><b><span style="color:var(--before-green); text-shadow: 1px 1px 1px black;">The green team</span></b> is for
            sites with a total uncompressed size of <b>less than 100KB</b>.</li>
        <li><b><span style="color:var(--before-orange); text-shadow: 1px 1px 1px black;">The orange team</span></b> is
            for sites with a total uncompressed size of <b>less than 250KB</b>.</li>
        <li><b><span style="color:var(--before-blue); text-shadow: 1px 1px 1px black;">The blue team</span></b> is for
            sites with a total uncompressed size of <b>less than 512KB</b>.</li>
    </ol>

    <p>Once you're a proud member of one of the teams, you are free to use one of the banners below on your own website.
        You can either save the SVG or use the code snippet below (remembering to change the name to whichever team
        you're in).</p>

    <p><img src="/assets/images/green-team.svg" alt="green team banner" /></p>

    <p><img src="/assets/images/orange-team.svg" alt="orange team banner" /></p>

    <p><img src="/assets/images/blue-team.svg" alt="blue team banner" /></p>

    <pre><code>&lt;a href="https://512kb.club"&gt;&lt;img src="https://512kb.club/assets/images/green-team.svg" /&gt;&lt;/a&gt;</code></pre>

    <p>Alternatively, you can add the banner to your site in pure HTML/CSS using <a target="blank"
            href="https://codepen.io/kevquirk/pen/VwmVaKm">this CodePen</a> as a guide.</p>

</details>
