<details class="red-notice" id="lightweight-notice">
    <summary>Illegal or inappropriate content</summary>

    <p>This can be anything we deem inappropriate for the 512KB Club. Things like pornographic sites, or sites that contain NSFW material will not be added. Basically, if you wouldn't show it to your grandma or your kids, you're probably not going to get accepted.</p>

    <p><b>We reserve the right to refuse any site we deem to be inappropriate, even if it doesn't obviously align to any of the rules stated above.</b></p>

</details>
