<!doctype html>
<html lang="en-GB">
<!-- This page was last updated on {{ "now" | date: "%Y-%m-%d %H:%M:%S" }}Z -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    {% if page.hasRandomBtn == true %}
      <script src="/assets/js/randomSite.js"></script>
    {% endif %}
</head>

<body>
    <a name="top"></a>

    <header>
        {% include navigation.html %}
        <h1>The 512KB Club</h1>
    </header>

    <main>

        {{ content }}

    </main>

    <footer>

        <p>The 512KB Club was created by <a href="https://kevq.uk">Kev Quirk</a> and was inspired by <a
                href="https://bt.ht/">Bradley Taunt's</a> 1MB Club.</p>

        <p>Maintained with &hearts; by Kev Quirk, <a target="_blank" href="https://www.mutahar.me/">Khal</a> and <a target="_blank" href="https://garrit.xyz/">Garrit</a>
            for a performant, lightweight web.</p>

        <a href="#top">^ TOP ^</a>

    </footer>

</body>

</html>
