<!doctype html>
<html lang="en-GB">
<!-- This page was last updated on {{ "now" | date: "%Y-%m-%d %H:%M:%S" }}Z -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <!-- Plausible analytics -->
    <script async defer data-domain="512kb.club" src="https://plausible.io/js/plausible.js"></script>
</head>

<body>
    <a name="top"></a>

    <header>
        <h1>The 512KB Club</h1>
    </header>

    <main>

        {{ content }}

    </main>

    <footer>

        <p>The 512KB Club was created by <a href="https://kevq.uk">Kev Quirk</a> and was inspired by <a
                href="https://uglyduck.ca">Bradley Taunt's</a> 1MB Club.</p>

        <p>Maintained with &hearts; for a performant, lightweight web.</p>

        <a href="#top">^ TOP ^</a>

    </footer>

</body>

</html>
